.App {
  text-align: center;
  animation: fadeIn 2s ease-in;
}

.counter-title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: white;
  text-shadow: 0 0 10px #61dafb;
  animation: fadeInDown 1s ease forwards;
}

.counter-display {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #61dafb;
  animation: fadeInUp 3s ease forwards;
}

.counter-buttons {
  display: flex;
  gap: 70px;
  justify-content: center;
}

.counter-button {
  background-color: #282c34;
  border: 2px solid #61dafb;
  color: #61dafb;
  font-size: 1.2rem;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  animation: fadeIn 1.5s ease forwards;
}

.counter-button:hover {
  background-color: #61dafb;
  color: #282c34;
  animation: buttonHoverColorChange 3s ease forwards;
}

.counter-button:focus {
  outline: none;
  box-shadow: 0 0 10px #f0009c;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes buttonHoverColorChange {
  10% {
    background-color: #f9006c;
    color: #61dafb;

    background-shadow: 0 0 10px #f9006c;
    color-shadow: 0 0 10px #fb6161;
  }
  50% {
    background-color: #21a1f1;
    color: white;
  }
  100% {
    background-color: #61dafb;
    color: #282c34;
  }
}
